.hi{
	border-color: #6C0593;
	border-style: dotted;
	color: #5E0481 ;
	font-family: 'Rancho', cursive;
	
	background-image:url(點點.jpg);
.ho{
	border-color: white;
	border-style: dashed;
}
.ha{
	border-color: white;
	border-style: dashed;
}

